body {
    background-color: rgb(219, 218, 218)
}

.custom-color {
    background-color: rgb(219, 218, 218)
}

.search-field {
    height: 50px;
    border-radius: 20px;
}

.submit-btn {
    border-radius: 20px;
}

.ing {
    background-color: rgb(242, 248, 248);
    border-radius: 10px;
    padding: 5px;
}

.cross-btn:hover {
    color: red;
}

.food {
    text-decoration: none;
    color:rgb(43, 43, 43)
}

.food:hover {
    color: black;
    text-decoration: solid;
    text-shadow: 1px 1px 1px gray, 2px 2px 1px gray;
}

.rec-img {
    height: 120px;
}

.food-img {
    height: 300px;
    max-width: 100%;
    margin-top: 70px;
}

.brand {
    letter-spacing: 5px; 
    font-size: 24px; 
    color: white;
}

.brand:hover {
    color: lightslategray;
}

.focus-color:focus {
    border-color: lightslategray;
    box-shadow: 0 0 0 0.2rem rgba(122, 122, 122, 0.25);
}


input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: darkslategray;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}