{% extends "layout.html" %}

{% block content %}
<div class="container text-center mt-2">
    <h1 class="display-4">{{ name }}</h1>
      <div class="row">
            <div class="col-4">
                <img class="image-fluid rounded" src="{{ url_for('static', filename='images/landing-page-img.png') }}">
            </div>
            <div class="col-8 mt-5">
                <div class="row">
                    <div class="col">
                        <h1 class="display-6">Ingredients</h1>
                        <ul class="list-unstyled align-items-center">
                            {% for ingredient in ingredients %}
                            <li class="lead">{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <h1 class="display-6">Directions</h1>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum laboriosam, aspernatur, laborum nulla hic quasi amet repellat mollitia consequuntur neque exercitationem reiciendis. Tenetur iste, provident blanditiis dolor laboriosam corporis?</p>
                    </div>
                </div>
                
                <div class="row align-items-center mt-5">
                    <div class="col">
                        <h5>Prep time</h5>
                        <p class="lead">5 minutes</p>
                    </div>
                    <div class="col">
                        <h5>Cook time</h5>
                        <p class="lead">5 minutes</p>
                    </div>
                    <div class="col">
                        <h5>Ready in</h5>
                        <p class="lead">5 minutes</p>
                    </div>
                </div>
                </div>
               
            </div>
            <!-- <div class="col-4 mt-5">
                <h1 class="display-6">Directions</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum laboriosam, aspernatur, laborum nulla hic quasi amet repellat mollitia consequuntur neque exercitationem reiciendis. Tenetur iste, provident blanditiis dolor laboriosam corporis?</p>
            
            </div> -->
  
</div>
    {% endblock content %}
{% block scripts%}
<script>

</script>
{% endblock scripts%}

<!-- 
<div class="row align-items-center">
    <div class="col">
        <h5>Prep time</h5>
    </div>
    <div class="col">
        <h5>Cook time</h5>
    </div>
    <div class="col">
        <h5>Ready in</h5>
    </div>
  </div>
  </div> -->