{% extends "layout.html" %}

{% block content %}
<div class="container text-center mt-2">
  <h1 class="display-4">Catered Fit </h1>
  <p class="lead">
    Confused what to cook?
  </p>
    <div class="row align-items-center">
      <div class="col">
        <img class="image-fluid rounded" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
      </div>
      <div class="col">
        <h1>Craving for something?</h1>
        <p class="mt-3 h4 text-muted">Let's get you started!</p>
        <div class="row align-items-center mt-4">
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Starter</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Main Course</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Dessert</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Snack</label>
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-4">
        <div class="col">
          <input value="" class="form-control me-2 search-field typeahead" data-provide="typeahead" type="search" placeholder="Add your available ingredients">
        </div>
        <div class="col">
          <a class="btn btn-primary btn-lg submit-btn" href="#" role="button">Recommend</a>
        </div>
      </div>

      <div class="row p-1" id="id-ingredient">
       <!-- Will be populated by DOM -->
      </div>      
        
      </div>
      <!-- <div class="row mt-4">
        <div class="col p-1">
          <div class="card custom-color" style="width: 10rem;">
            <img src="https://images.unsplash.com/photo-1631515243349-e0cb75fb8d3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmlyeWFuaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60&w=500&h=400" class="card-img-top" alt="...">
            <a href="#">
              <h5 class="card-title mt-1">Biryani</h5>
            </a>
          </div>
        </div>
        <div class="col p-1">
          <div class="card custom-color" style="width: 10rem;">
            <img src="https://images.unsplash.com/photo-1631515243349-e0cb75fb8d3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmlyeWFuaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60&w=500&h=400" class="card-img-top" alt="...">
            <a href="#">
              <h5 class="card-title mt-1">Biryani</h5>
            </a>
          </div>
        </div>
      </div> -->

      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts%}
<script>


let response;
let matches = [];


async function fetchIngredients() {
    const res = await fetch("ingredients")
    response = await res.json()
  }

async function autocomplete() {
  await fetchIngredients()
  var $input = $(".typeahead").typeahead({
  source: response.ingredients,
  autoSelect: true,
 });


$input.change(function () {
var current = $input.typeahead("getActive");
if (current) {
  if (current === $input.val()) {
        if (!matches.includes(current)) {
          matches.push(current);
          addIngredient(current)
        }
        $input.val("")    
      }
    }
  });
}


function addIngredient(name) {
    let row = document.querySelector("#id-ingredient")
  row.innerHTML += `
      <div class="col-4 mt-2">
          <div class="ing">
              ${name}
              <span class="cross-btn" data-name=${name.replace(" ", "-")}>
                <i id="cross-icon" class="bi bi-x"></i>
              </span>
          </div>
      </div>`
  attachCrossIconOnclick()
 }


function removeIngredient(name) {
  matches = matches.filter(item => item !== name)
  let row = document.querySelector("#id-ingredient")
  row.innerHTML = ""
  matches.forEach((item) => {
    addIngredient(item)
  })
 }

 function attachCrossIconOnclick() {
    const ingredients = document.querySelectorAll('[data-name]');
    ingredients.forEach(item => {
      item.addEventListener("click", () => {
        const name = item.dataset.name.replace("-", " ")
        removeIngredient(name)
      })
    })
  }

autocomplete()

</script>
{% endblock scripts%}